* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  font-family: 'Play', sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 20px;
}

h2 {
  font-family: 'Play', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 20px;
}

.score p {
  color: white;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 25px;
}

.board {
  width: 500px;
  height:400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  grid-gap: 32px;
}

.board div {
  background-color: blue;
  border: 2px solid white;
  border-radius: 4%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.board div img {
  width: 99px;
  height: 109px; 
}

.instructions {
  color: white;
  text-align: center;
  padding: 10px;
}


.moon {
  background-image:url(./assets/moon.jpg);
}

.star {
  background-image:url(./assets/stars.jpg);
}

.tree {
  background-image:url(./assets/tree.jpg);
}

.mountain {
  background-image: url(./assets/mountain.jpg);
}

.rainbow {
  background-image: url(./assets/rainbow.jpg);
}

.cloud {
  background-image: url(./assets/cloud.jpg);
}

.hidden {
  background-image: url(./assets/back.jpg)
}

.rehide {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c)
}