* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
h1 {
  font-family: 'Play', sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 20px;
}

.board {
  width: 500px;
  height:400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  grid-gap: 30px;
}

.board div {
  background-color: blue;
  border: 2px solid red;
  border-radius: 4%;
}

.instructions {
  color: white;
  text-align: center;
  padding: 10px;
}